/* SITE WIDE CSS */

html {
  font-size: 16px;
  }

body {
  font-family: 'Fira Sans Condensed', sans-serif;
  color: #4a4a4a;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.9rem;
  font-weight: 700;
}

h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

h6 {
  font-size: 1.10rem;
  font-weight: 500;
}

p {
  font-size: 1.25rem;
}

/* HEADER/NAVBAR CSS */

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}

.logo img {
  height: 3.5rem;
  padding-left: 1.5rem;
}

nav {
  text-align: right;
  flex-grow: 1;
}

.desktop a {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.25rem;
  color: #4a4a4a;
  text-decoration: none;
}

.desktop a:hover {
  color: #b22222;
}

nav.mobile {
  display: none;
}

@media only screen and (max-width: 480px) {
  nav.desktop {
    display: none;
  }

  .mobile a {
    color: #000000;
  }

  .mobile a:visited {
    color: #b22222;
  }

  .logo {
    display: none;
  }

  nav.mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

/* BANNER1 CSS */

.banner1 {
  background-color: #d8d8d8;
}

.banner1 .container {
  display: flex;
  justify-content: space-between;
}

.leftside {
  width: 60%;
  padding: 2rem 1.5rem;
}

.leftside img {
  width: 100%;
}

.rightside {
  width: 440px;
}

.b1content {
  height: auto;
  padding-left: 1.25rem;
  margin-right: 3.75rem;
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.b1content h4 {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.b1content a {
  background-color: #4a4a4a;
  font-size: 1.25rem;
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: .5rem;
}

.b1content a:hover {
  background-color: #b22222;
}

@media only screen and (max-width: 800px) {
  .banner1 .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .banner1 .leftside {
    width: 100%;
  }

  .banner1 .rightside {
    width: 100%;
  }

  .b1content {
    margin: 2rem 1.5rem;
    align-items: center;
  }

  .b1content a {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .b1content a {
    width: 100%;
    background-color: #4a4a4a;
  }

  .leftside {
    min-width: 100%;
  }
}

/* BANNER2 CSS */

.banner2 .container {
  display: flex;
  justify-content: space-between;
}

.banner2 .leftside h2 {
  padding-top: 2rem;
}

.banner2 .leftside p {
  padding: 1.5rem 1.5rem 1.5rem 0;
}

.signature {
  font-size: .75rem;
}

.content {
  padding: 1rem 0;
  width: 100%;
}

.content p {
  padding-top: .5rem;
}

.content a {
  color: #4a4a4a;
  text-decoration: none;
  font-size: .9rem;
  display: block;
  padding-top: .9rem;
}

.content a:hover {
  color: #b22222;
  text-decoration: underline;
}

.banner2 .rightside {
  border-left: 1px solid #b22222;
  padding: 1rem 0 2rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box:hover {
  background-color: #d8d8d8;
}

.box img.desktop {
  width: 35%;
  padding: 1rem;
}

.box img.mobile {
  display: none;
}

.middle {
  border-top: 1px solid #b22222;
  border-bottom: 1px solid #b22222;
}

@media only screen and (max-width: 480px) {
  .banner2 .leftside {
    display: none;
  }

  .banner2 .rightside {
    border-left: 0px;
    padding: 1rem 1rem 2rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  .bottom {
    background-color: #ffffff;
  }

  .middle {
    border-top: 0;
    border-bottom: 0;
    margin: 1rem 0;
  }

  .box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .box img.desktop {
    display: none;
  }

  .box img.mobile {
    display: flex;
    width: 100%;
  }

  .content {
    padding: 0;
    width: 100%;
    margin-top: 1rem;
  }
}

/* BANNER3 CSS */

.banner3 {
  background-color: #d8d8d8;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.banner3 p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.heading {
  width: 100%;
  text-align: center;
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.courseblock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}

.courselist {
  display: none;
}

.course {
  background-color: #ffffff;
  width: 32%;
  height: 17rem;
  margin-bottom: 1.25rem;
}

.course img {
  width: 100%;
}

.course-content h6 {
  padding-bottom: .75rem;
}

.course-content p {
  padding-top: .5rem;
}

.course-content span {
  font-size: 1rem;
  font-weight: 600;
  color: #b22222;
}

.course-content {
  padding: 1rem 1rem 1.5rem 1rem;
}

@media only screen and (max-width: 480px) {
  .banner3 {
    border-top: 1px solid #b22222;
    border-bottom: 1px solid #b22222;
    background-color: #ffffff;
  }

  .banner3 .container {
    margin: 0 auto;
    width: 100%;
  }

  .courseblock {
    display: none;
  }

  .courselist {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .courselist a {
    background-color: #d8d8d8;
    color: #4a4a4a;
    text-decoration: none;
    padding: 1rem;
    margin-bottom: .5rem;
    font-size: 1.4rem;
  }

  .courselist a:hover {
      background-color: #b22222;
      color: #ffffff;
    }
}
